n8n/Integracion_n8n_Whatsapp/Integracion_Whatsapp.json
{
  "name": "Integracion_Whatsapp",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        0
      ],
      "id": "828d8799-3839-44fe-b4f9-43fcef86392f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        200
      ],
      "id": "b510b855-c541-43d3-be09-0b859f114757",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UdTbev0DIFV1AlM7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "id": "5d3aa7ac-d500-4ab2-b57a-3d92f086dcf0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "3ba63610-7883-4568-b585-004c78b7a26b",
      "name": "WhatsApp Trigger",
      "webhookId": "53135a2e-7768-4d87-807f-3d64bd84daf5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "OXCpQHgzeFErwQM3",
          "name": "ConexionWhatsappTest"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "634906809707589",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "c7ed0cbe-ae86-4a86-89f8-0f9bd9b0f5aa",
      "name": "WhatsApp Business Cloud",
      "webhookId": "bb719984-f1cb-4ad0-aa31-d6f25e6cbf32",
      "credentials": {
        "whatsAppApi": {
          "id": "9n1v8K6EOiG1hwZW",
          "name": "EnviarWhatsapp Test"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "800be211-1a67-42fc-aaed-d4d7d424d93a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "441974d4e0f72ec45c8b7dfa5e703be3b4cc1bd2f5d4b0f5cc7ce971159ca7cb"
  },
  "id": "0mGewfsCDv7c51to",
  "tags": []
}