n8n/lovable/Workflows_n8n/Lovable_GeneradorHistorias.json
{
  "name": "Lovable_GeneradorHistorias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "16663d47-3040-4605-ad41-ad06212bca61",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "aa22a49d-259d-48dc-b94e-4c02d7b26687",
      "name": "Webhook",
      "webhookId": "16663d47-3040-4605-ad41-ad06212bca61"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"respuesta\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        740,
        0
      ],
      "id": "756ee75b-a31c-4c84-9dbf-28807524b8cc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Crea una historia divertida de 30 palabras que incluya las siguientes palabras: {{ $json.body.nombre }}, {{ $json.body.animal }} y {{ $json.body.deporte }}\n\nEl texto generado no debe tener comillas ni carácteres especiales",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        0
      ],
      "id": "da2e6b1e-ed13-45f1-b623-b26edda3e218",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        220
      ],
      "id": "71edaec5-eae1-409d-b448-406c9e4b8068",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UdTbev0DIFV1AlM7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02cee121-47b1-47ec-a156-ecaa368962bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "441974d4e0f72ec45c8b7dfa5e703be3b4cc1bd2f5d4b0f5cc7ce971159ca7cb"
  },
  "id": "PYRVFudXjfoUgLSc",
  "tags": []
}