n8n/lovable/Workflows_n8n/Lovable_TuPropioChatGPT.json
{
  "name": "Lovable_TuPropioChatGPT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1116aeb3-d7c6-4ced-82d2-ca8662a46692",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -20
      ],
      "id": "b2d8222b-acef-4ba2-b06f-edbd0d113cd9",
      "name": "Webhook",
      "webhookId": "1116aeb3-d7c6-4ced-82d2-ca8662a46692"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"respuesta\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        -20
      ],
      "id": "0d189b40-322d-4d9e-9219-41982ae5eafe",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Responde a esta consulta: {{ $json.body.prompt }}\n\nLas respuestas no pueden contener carácters extraños. Debe ser texto plano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        280,
        -20
      ],
      "id": "09a067b8-16a2-48ad-8edb-00e41ed244d4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        180
      ],
      "id": "81c58607-28a0-4ec4-98fe-812925112f4d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UdTbev0DIFV1AlM7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63de7d0c-2440-4d60-bc1a-2269435a469b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "441974d4e0f72ec45c8b7dfa5e703be3b4cc1bd2f5d4b0f5cc7ce971159ca7cb"
  },
  "id": "Mxjof4a96euQticS",
  "tags": []
}